<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항 수정</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/notice.css}">
</head>
<body>
<div class="container mt-4">
  <div class="text-center">
    <div class="lego-block" style="background-color: var(--lego-red);"></div>
    <div class="lego-block" style="background-color: var(--lego-yellow);"></div>
    <div class="lego-block" style="background-color: var(--lego-blue);"></div>
    <div class="lego-block" style="background-color: var(--lego-green);"></div>
  </div>
  <h1>공지사항 수정</h1>
  <form th:action="@{/notice/modify}" th:method="post">
    <input type="hidden" name="bno" th:value="${dtoB.bno}">
    <div class="form-group">
      <label>제목</label>
      <input type="text" class="form-control" name="title" th:value="${dtoB.title}">
    </div>
    <div class="form-group mt-3">
      <label>내용</label>
      <textarea class="form-control" name="content" rows="5" th:text="${dtoB.content}"></textarea>
    </div>
    <div class="form-group mt-3">
      <label>작성자</label>
      <input type="text" class="form-control" name="author" th:value="${dtoB.writer}" readonly>
    </div>

    <button type="submit" class="btn btn-primary mt-3">수정</button>
    <a th:href="@{/notice/list}" class="btn btn-secondary mt-3">목록으로 돌아가기</a>
  </form>
  <form th:action="@{/notice/remove}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
    <input type="hidden" name="bno" th:value="${dtoB.bno}">
    <button type="submit" class="btn btn-danger mt-3">삭제</button>
  </form>
</div>
</body>
</html>
